name: daily

on:
  schedule:
    - cron: "15 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: |
          npm init -y
          npm i rss-parser

      - name: Generate daily.json
        run: node generate.js

      - name: Commit & push daily.json
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add daily.json

          # If no changes, do nothing
          git diff --cached --quiet && echo "No changes" && exit 0

          git commit -m "Update daily.json"
          git push
